body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(213, 213, 213);

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select:none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container {
  width: 80%;
  margin: auto;
  background-color: #fff;
}

.header {
  margin: 10px 10px 0;
  display: flex;
  justify-content: first baseline;
  align-items: center;
  /* background-color: rgb(27, 107, 219); */
}

.header .logo {
  background-color: #f00;
  width: 20%;
  height: 100%;
}

.header .menu_list {
  width: 80%;
}

.header .menu_list ul {
  display: flex;
  justify-content: right;
  align-content: center;
  list-style: none;
  /* background-color: rgb(104, 142, 50); */
}

.header .menu_list ul li {
  text-transform: uppercase;
  padding: 10px;
  margin: 0 5px 0;
  cursor: pointer;
}

.header .active {
  border-radius: 4px;
  background-color: rgb(48, 131, 214);
  color: rgb(255, 255, 255);
  font-weight: 400;
  transition: background-color 0.5s;
}

.dashboard,
.calling_data,
.order_book {
  display: none;
}

.show_section {
  display: flex;
}

.status_div {
  display: flex;
  position: fixed;
  top: 0;
  left: auto;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  background-color: rgba(69, 69, 69, 0.767);
  align-items: center;
}
.status_div_sub {
  padding: 0 20px 10px;
  border-radius: 5px;
  background-color: #fff;
}
.form_name {
  font-size: larger;
  text-transform: uppercase;
}

.field_div {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}
.field_div label {
  /* width: 100%; */
  padding: 5px 5px 5px 0;
  font-size: 14px;
  /* margin-bottom: 3px; */
  /* background-color: rgb(146, 76, 76); */
}
.field_div input {
    /* width: 100%; */
    padding: 5px;
}


.form_button{
    display: flex;
    justify-content: space-between;
}

.form_button button{
    width: 48%;
    padding: 5px;
    text-transform: uppercase;
    color: #fff;
    outline: none;
    border: #fff;
    border-radius: 4px;
}

.form_button button:nth-child(1){
    background-color: #f00;

}
.form_button button:nth-child(2){
    background-color: rgb(14, 117, 0);
}

.form_button button:hover{
    opacity: 60%;
    cursor: pointer;
}


